.menu{
    background: #242424 !important;
    height: 112px;
width: 375px;
left: 0px;
top: 0px;
border-radius: 0px;
padding:20px;

}
.title-menu{
    margin-top:20px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    
    letter-spacing: 4px;

color: #FFFFFF;
}
.item{
    font-family: Bebas Neue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 4px;
text-align: left;
color: #FFFFFF;
}
.ver{
    font-family: Bebas Neue;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height */

text-align: center;
letter-spacing: 4px;

color: #FFFFFF;
}
.populares{
    margin-top: 20px;
    font-family: Bebas Neue;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
/* identical to box height */

text-align: center;
letter-spacing: 4px;

color: #FFFFFF;
}
.icon-drop{
    font-size: 14px;
}
.menu-list{
    background:#242424;
}
.title-movie{
    font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 16px;
/* identical to box height */

letter-spacing: 4px;

color: #FFFFFF;
}
@media (min-width: 1024px) {
    .menu{
            height: 112px;
        left: -50px;
        top: 0px;
        border-radius: 0px;
        
    }
    .menu-list{
        width: 375px;
        margin-right: 312px;
        margin-left: -20px;;
    }
    .container-dropdown {
        position: absolute;
        top: 30px;
        right: 135px;
    }
    .ver{
        font-size: 16px;
    }
    .populares{
        font-size: 16px;

    }
    .icon-drop{
        font-size: 12px;
    }
    .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
         background-color: #242424; 
    }
}
@media (min-width:1500px){
    .container-dropdown {
        top:50px;
    }
.ver{
    font-size: 18px;
}
.populares{
    font-size:  18px;
}
.icon-drop{
    font-size: 15px;
}
}

