.file {
    width: 327px !important;
    height: 80px !important;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 4px;
  
    background: #242424 !important;
    border: 1px dashed #ffffff !important;
    box-sizing: border-box;
  color: #ffffff !important;

  }
/* para ocualta lista de ant desing*/
.ant-upload-list-item {
display: none;
}