.container-progress {
  margin-top: 20px;
  padding:4px;
}
/* progress*/
.load {
  width:316px;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 400;
font-size: 13px;
line-height: 14px;
letter-spacing: 4px;

color: #FFFFFF;
}
#progress {
  width: 100%;
  height: 4px;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  margin-top:14px;
}

#bar {
  position: absolute;
  top: -2px;
  height: 8px;
  background: #64eebc;
  max-width: 100%;
}

/*boton  del load*/
.btn-progress{
  float:right;
  margin-top: 16px;
  margin-right:-16px;
  font-family: Bebas Neue;
font-style: normal;
font-size: 16px;
line-height: 16px;
/* identical to box height */

text-align: right;
letter-spacing: 4px;

color: #FFFFFF;
}
