.subtitle{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 4px;
    color: #FFFFFF;
    text-align: center;
}
.subtitle2{

  
    font-weight: 400;
}