.subtitle{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 4px;
    color: #FFFFFF;
    text-align: center;
    margin-top:100px;
}
.subtitle2{

  
    font-weight: 400;
}

@media (min-width: 1024px) {
   .subtitle{
       margin-left:78px;
       text-align:start;
       margin-top:268px;
  } 
}