/* Kids at school */
.title{
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 77px;
/* or 102% */

text-align: center;
letter-spacing: 4px;
text-transform: uppercase;

color: #64EEBC;   
}

