/* Kids at school */
.title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 76px;
  line-height: 77px;
  /* or 102% */
  text-align: center;
  letter-spacing: 12px;
  text-transform: uppercase;
  color: #64eebc;
  height: 155px;
  margin-top:10px;
}
