/* Kids at school */
.title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 76px;
  line-height: 77px;
  /* or 102% */
  text-align: center;
  letter-spacing: 12px;
  text-transform: uppercase;
  color: #64eebc;
  height: 130px;
  margin-top:10px;
}
@media (min-width: 1024px) {
  .title{
    margin-left:77px;
    text-align:start;
    margin-top: 0;
    height:60px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 400;
    font-size: 107px;
    line-height: 100px;
    /* identical to box height, or 83% */
    
    letter-spacing: 16px;
    text-transform: uppercase;
    
    /* Aqua */
    
    color: #64EEBC;
  }


}
@media (min-width:1500px){
  .title{
    font-size: 140px;

  }
}